extends ./layout
block body
  nav#mainNav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      // Brand and toggle get grouped
      div.navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.page-scroll(href="#page-top") Start Bootstrap 

      div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav.navbar-right
          li
            a.page-scroll(href="#about") About
          li
            a.page-scroll(href="#services") Services
          li
            a.page-scroll(href="#portfolio") Portofolio
          li
              a.page-scroll(href="#contact") Contact
  header
    div.header-content
      div.header-content-inner
        h1 Your Favorite Soruce fo Free Bootstrap Themes
        hr
        p
          | Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!
        a.btn.btn-primary.btn-xl.page-scroll(href="#about") Find Out More

  section.bg-primary#about
    div.container
      div.row
        div.col-lg-8.col-lg-offset-2.text-center
          h2.section-heading We've got what you need
          hr.light
          p.text-faded
            | Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
          a.btn.btn-default.btn-xl(href="#") Get Started!
  
  section#services
    div.container
      div.row
        div.col-lg-12.text-center
          div.col-lg-12.text-center
            h2.section-heading At Your Service
            hr.primary
    div.container
      div.row
        div.col-lg-3.col-md-6.text-center
          div.service-box
            i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
            h3 Sturdy Templates
            p.text-muted 
              | Our templates are updated regularly so they don't break
        div.col-lg-3.col-md-6.text-center
          div.service-box
            i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay=".1s")    
            h3 Ready to Ship
            p.text-muted You can use this theme as is, or you can make changes  
        div.col-lg-3.col-md-6.text-center
          div.service-box
            i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay=".2s")
            h3 Up to Date
            p.text-muted We update dependenices to keep things fresh.
        div.col-lg-3.col-md-6.text-center
          div.service-box
            i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay=".3s")
            h3 Made with Love
            p.text-muted You have to make your website with love these days! 

  section.no-padding#portfolio
    div.container-fluid
      div.row.no-gutter
        div.col-lg-4.col-sm-6      
          a.portfolio-box(href="#")
            img.img-responsive(src="img/portfolio/1.jpg")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded
                  | Category
                div.project-name
                  | Project Name
        div.col-lg-4.col-sm-6      
          a.portfolio-box(href="#")
            img.img-responsive(src="img/portfolio/2.jpg")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded
                  | Category
                div.project-name
                  | Project Name
        div.col-lg-4.col-sm-6      
          a.portfolio-box(href="#")
            img.img-responsive(src="img/portfolio/3.jpg")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded
                  | Category
                div.project-name
                  | Project Name
        div.col-lg-4.col-sm-6      
          a.portfolio-box(href="#")
            img.img-responsive(src="img/portfolio/4.jpg")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded
                  | Category
                div.project-name
                  | Project Name
        div.col-lg-4.col-sm-6      
          a.portfolio-box(href="#")
            img.img-responsive(src="img/portfolio/5.jpg")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded
                  | Category
                div.project-name
                  | Project Name
        div.col-lg-4.col-sm-6      
          a.portfolio-box(href="#")
            img.img-responsive(src="img/portfolio/6.jpg")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded
                  | Category
                div.project-name
                  | Project Name

  aside.bg-dark
    div.container.text-center
      div.call-to-action
        h2 Free download at Strap Bootstrap
        a.btn.btn-xl.wow.data(href="#") Download Now !


